.card {
    border: none;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 16px;

    .card-header {
        background-color: #fff;
    }
    .card-footer {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: center;
        justify-content: flex-end;
        background-color: #fff;
    }
}

.card1{
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card2{
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1,h2{
    font-size: 15px;
}