

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(var(--bs-brand-rgb),0.1);
  }

.mobile-label {
    display: none;
}

@media (max-width: 768px) {
    .mobile-label {
        display: none;
        /*display: flex;*/
        /*font-weight: bold;*/
    }

}

.total-row {
    border-top: 1px solid rgba(var(--bs-brand-rgb),0.1);
    font-weight: bold;
}
