<div>
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">
                <img src="../../../assets/images/domi_store.png" alt="logo" />
            </div>
            <div class="login-form">


                <form [formGroup]="loginForm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Username" formControlName="email" />

                        @if(loginForm.controls['email'].hasError('required')){
                        <mat-error>El correo eletronico es requerido</mat-error>

                        }
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Password" type="password" formControlName="password" />
                        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                            La contraseña es requerida
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="full-width" color="primary" type="submit" (click)="signIn()"
                        [disabled]="loginForm.invalid">
                        Iniciar Sesión
                    </button>
                </form>


            </div>
        </div>
    </div>
</div>

