<div class="shadow mt-3">
    <div class="card {{ class }}">
        <div class="card-header margin-top d-flex align-items-center justify-content-between flex-wrap"
            style="gap: 1rem">
            <div
                class="m-1 d-flex align-items-baseline justify-content-start flex-column flex-sm-column text-left flex-wrap">
                <h2 *ngIf="title != ''">
                    {{ title | slice : 0 : 100 | uppercase }}
                </h2>
                <p>{{ description | slice : 0 : 200 }}</p>
            </div>
            <div class="row w-100">
                <div class="col-10">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Buscar</mat-label>
                        <input matInput type="text" placeholder="Buscar" (keyup)="applyFilter($event)" #input />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-icon style="cursor:pointer;font-size: 29px;" (click)="getOrders()">
                        refresh
                    </mat-icon>
                </div>
            </div>
           

        </div>

        <div class="card-body overflow-auto p-0">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef>No. Pedido</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label mr-2">No. Pedido:</span>
                        {{ element.id }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label mr-2">Cliente:</span>
                        {{ element.userName }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Valor</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label mr-2">Valor:</span>
                        {{element.total  | currency:  '$ ' : 'symbol' : '1.0-0'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label mr-2">Estado:</span>
                        <button mat-flat-button class="btn btn_status"
                            [ngStyle]="{'border': getOrderStatusColor(element.status)}"
                            type="button">{{getOrderStatusText(element.status)}}</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="pr-3 pl-3">Acciones</th>
                    <td mat-cell *matCellDef="let element" class="p-1 pr-3 pl-3" style="white-space: nowrap">
                        <button  mat-icon-button (click)="openDialogOrder(element, 'change')"
                            matTooltip="Cambiar estado">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button [disabled]="element.status=='preparing'" mat-icon-button (click)="openDialogOrder(element, 'accept')"
                            matTooltip="Aceptar pedido">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button [disabled]="element.status=='rejected'" mat-icon-button (click)="openDialogOrder(element, 'reject')"
                            matTooltip="Rechazar pedido">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="pageSizeOptions.length>0?pageSizeOptions:[10,20,50,100]" showFirstLastButtons
            aria-label="Select page of periodic elements" class="card-footer">
        </mat-paginator>
    </div>
</div>